/*
 * Attribution: http://csswizardry.com/2011/10/fully-fluid-responsive-css-carousel/
 *
 * DON'T VISIT THE ABOVE SITE FOR ANSWERS UNLESS YOU'RE
 * COMPLETELY STUMPED
 *
 * ...also, it will not help you solve the JavaScript :)
*/

.container {
  width: 590px;
  height: 320px;
  margin: 0 auto;
  /*border: 2px solid red;*/
}

.carousel{
  overflow:hidden;
  width:100%;
}
.frames{
  list-style:none;
  /* position: What value should position have?; */
  width:300%;
  overflow:hidden;
  padding:0;
  margin: 0;
  margin-left: 0px;
  /*border: 2px solid blue;*/
}
.frames > li{
  /* position: What value should position have?; */
  float:left;
  width:33.33333%; /* 100 / number of frames */
}
.fill{
  display:block;
  width:590px;
  height:320px;
}
.carousel h2{
  font-size:1em;
  padding:0.5em;
  position:absolute;
  bottom:10px;
  left:10px;
  text-align:left;
  margin: 0;
  color:#fff;
  background-color:rgba(99,0,0,0.75);
}

.carousel_controls a {
  font-family: monospace;
  text-decoration: none;
  position: absolute;
  margin-top: 99px;
  width: 30px;
  line-height: 30px;
  background-color: #eee;
  border: 1px solid #ddd;
  border-radius: 30px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}
a#previous_frame {
  margin-left: -50px;
  display: none;
}

a#next_frame {
  margin-left: 380px;
  display: none;
}
input#next_question {

}

img.unicorn {
  float: left;
  -webkit-filter: invert(100%);
  width: 128px;
  height: 70px;

}


.banner {
  background-image:url('/img/banner.jpg');
  background-size: cover;
  height: auto;
  width: 100%;
  margin: auto;
  border-radius: 3px;
}

.t0 {

}
.t1 {
  width: 100px;
  display: inline-block;
  margin: 6%;
}

.t2 {
  width: 100px;
  display: inline-block;
  margin: 6%;
}

.t3 {
  width: 110px;
  display: inline-block;
  margin: 6%;
}

.t4 {
  position: relative;
  right: 0;
  width: 150px;
  display: inline-block;
  margin: 6%;
}


.text-gray {
  color: gray;
}

.bottom-stuff {
  width: 100%;
  margin: auto;
}

.bottom-left {

  width: 45%;
  border: solid 1px gray;
  border-radius: 6px;
  float: left;
  padding: 20px;
}

.bottom-right {
  width: 45%;
  border: solid 1px gray;
  border-radius: 6px;
  float: right;
  padding: 20px;
}

.top1 {
  width: 70%;
  margin: auto;
}

.top-left {
  display: inline-block;
  width:80%;
}

.top-right1 {
  display: inline-block;
  width: 80px;
}
.top-right2 {
  display: inline-block;
  width: 60px;
}

form[name="sign_up"] {
  display: inline-block;
}

#errors {
  font-size: .8em;
  color: red;
  /*width:50%;*/
  display: inline-block;
  vertical-align: top;
  padding: 60px 0;
}
