<br><br>

<form class="form-horizontal" action="/user/<%=@user.id%>/survey/<%=@survey.id%>/create_question" method="post">
 
<div class="control-group success">
  <label class="control-label" for="inputSuccess">Survey Question</label>
  <div class="controls">
    <input class="span6" type="text" name="question_title" id="inputSuccess">
  </div>
</div>
 
<div class="control-group info">
  <label class="control-label" for="inputInfo">Possible Choice</label>
  <div class="controls">
    <input class="span6" type="text" name ='question_answer1' id="inputInfo">
  </div>
</div>

<div class="control-group info">
  <label class="control-label" for="inputInfo">Possible Choice</label>
  <div class="controls">
    <input class="span6" type="text" name ='question_answer2' id="inputInfo">
  </div>
</div>

<div class="control-group info">
  <label class="control-label" for="inputInfo">Possible Choice</label>
  <div class="controls">
    <input class="span6" type="text" name ='question_answer3' id="inputInfo">
  </div>
</div>

<div class="control-group info">
  <label class="control-label" for="inputInfo">Possible Choice</label>
  <div class="controls">
    <input class="span6" type="text" name ='question_answer4' id="inputInfo">
  </div>
</div>

  <div class="control-group">
      <div class="controls">
        <input type="submit" class="btn btn-large btn-info" value="Make Me!">
      </div>
    </div>
  </div>
</form>

  <form class="form-horizontal" action="/" method="get"> 
    <div class="controls">
      <input type="submit" class="btn btn-large btn-info" value="All Done!">
    </div>
  </form>

