<div class="container">
  <div class="carousel_controls">
    <a href="#" id="previous_frame">&lt;</a>
    <a href="#" id="next_frame">&gt;</a>
  </div>
  <div class="carousel">
    <ul class="frames">
      <li id='cell'>
        <div class="fill">
          <label class="control-label" for="inputTitle">Enter Title</label>
          <input type="text" class="input-xlarge" name="survey_title" placeholder= "Survey Title">
          <button id = "next_question" type="submit" class="btn btn-large btn-info">Create Survey</button>
        </div>
      </li >
      <li id='cell'>
        <div class="fill">
          <%= erb :question_form %>
        </div>
      </li>
      <li id='cell'>
        <div class="fill">
          <%= erb :question_form %>
        </div>
      </li>
    </ul>
  </div>
</div>
