<div class="container">
  <div class="carousel_controls">
    <a href="#" id="previous_frame">&lt;</a>
    <a href="#" id="next_frame">&gt;</a>
  </div>
  <div class="carousel">
    <ul class="frames">
      <li>
        <div class="fill">
          <%= erb :question_form %>
        </div>
      </li>
      <li>
        <div class="fill">
          <%= erb :question_form %>
        </div>
      </li>
      <li>
        <div class="fill">
          <%= erb :question_form %>
        </div>
      </li>
    </ul>
  </div>
</div>
