<container>
  <center>
    <h2>Create your own survey!</h2>
    <form action="/create_title" method="post">
      <input type="text" name="survey_title" placeholder= "Survey Title">
      <br>
      <input type="submit" value="Begin">
    </form>
    <br>
    <form action="/" method="get">
      <input type="submit" value="Go home">
    </form>
    <br>
    <form action="/sign_out" method="get">
      <input type="submit" value="Iam Out!">
    </form>
  </center>
 </container>
