<!-- this should be a form to change the title of the survey -->
<form action = "/user/#{@user.id}/survey/create_title" method = "POST">
<input type = "text" name = "survey_name" value ><%= @survey.name %></h2>


<% @survey.questions.each do |question| %>
<form name = "survey" action = "/survey" method = "POST">
  <a href = "/edit/question/#{question.id}"><%= question %></a>
  <% question.answers.each do |answer| %>
<input type="radio" name="answer" value= "#{answer}">answer<br>
  <% end %>
<% end %>
</form>
