<div class="hero-unit">
<center><h1 class="text-success">Welcome to Sparkling Unicorn Surverys</h1></center>
<br>
<center><img src='http://madartlab.com/files/2011/02/sparkle-unicorn-smaller.gif' class="img-polaroid"></center>
<br>
<center><h2 class="text-info">What do you want to do?</h2></center>
<br>
<form action="/login" method="get"><center>
  <input class="btn btn-large btn-info" type="submit" value="I've Returned!"></center>
</form>

<form action="/sign_up" method="get"><center>
  <input class="btn btn-large btn-info" type="submit" value="Sign Me Up!"></center>
</form>
</div>