<div class='banner'>
  <br><br>
  <center><h2 class="t0">Create Surveys. Get Answers</h2></center>
  <div class="t1">
    <h4>Design</h4>
    <p>Build your own surveys or choose from our templates.</p>
  </div>
  <div class="t2">
    <h4>Collect</h4>
    <p>Choose how to distribute and start collecting responses.</p>
  </div>
  <div class="t3">
    <h4>Analyze</h4>
    <p>Use our powerful analytical tools for intellgient insights.</p>
  </div>
<!--   <form action="/login" method="get"><center>
    <input class="btn btn-large btn-info" type="submit" value="I've Returned!"></center>
  </form>
 -->
  <div class="t4">
    <center>
    <h3 class="text-gray">Start Today</h3>
    <form action="/sign_up" method="get"><center>
      <input class="btn btn-warning" type="submit" value="Pro Sign up"></center>
    </form>
    <p class="text-gray">Unlimited Survey & Responses</p>
    <form action="/sign_up" method="get"><center>
      <input class="btn btn-info" type="submit" value="Sign Up FREE"></center>
    </form>
    <p class="text-gray">Just the Basics</p>
  </div>
</center>
</div>
<br>
<div class="bottom-stuff">
  <div class="bottom-left">
    <h4>Need to Reach a Targeted Audience?</h4>
    <p>Looking for the right people to fill out your survey? Meet SurveyUnicorn Audience, home to millions of qualified respondents ready to take your surveys and give you the feedback you need to make better decisions.<br><br><button type="button" class="btn btn-default">Learn more</button></p>
  </div>
<div class="bottom-right">
  <h4>SurveyUnicorn Enterprise</h4>
    <p>Give your entire team access to our powerful online survey platform. SurveyUnicorn helps anyone in any function use surveys to make smarter decisions, while your organization gets complete control of your data, users and billing. <br><br><button type="button" class="btn btn-default">Learn more</button></p>
</div>
</div>
