<center>
  <h1>Unicorn Login!</h1>
  <form action="/login" method="post">
  <br>
    <input type="text" name="email" placeholder= "Email">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Let's survey!">
  </form>
  <br>

  <center>New User?</center>
  <br>
  <form action="/sign_up" method="get"><center>
    <input type="submit" value="Sign Me Up!"></center>
  </form>
  <br>

  <form action="/" method="get"><center>
  <input type="submit" value="Home"></center>
  </form>

  <br>

</center>
