<br>
<form id = "question" class="form-horizontal" action="/user/<%=@user.id%>/create/question" method="post">

  <div class="control-group success">
    <label class="control-label" for="inputSuccess">Survey Question</label>
      <input class="span4" type="text" name="question_title" id="inputSuccess">
  </div>

  <% 4.times.each do |i| %>
  <div class="control-group info">
    <label class="control-label" for="inputInfo">Possible Choice</label>
      <input class="span4" type="text" name ='question_answer<%="#{i+1}"%>' id="inputInfo">
  </div>
  <% end %>

<center>
      <input id = "next_question" type="submit" class="btn btn-large btn-info" value="Make Me!">
      <a href = "/"><button class="btn btn-large btn-info" type="button">All Done!</button></a>
</center>
</form>




