<center>
  <h2>Become a Sparkling Unicorn!</h2>
  <form action="/sign_up" method="post">
    <br>
    <input type="text" name="user_name" placeholder= "Full Name">
    <br>
    <input type="text" name="email" placeholder= "Email">
    <br>
    <input type="password" name="password" placeholder="Password">
    <br>
    <br>
    <input type="submit" value="Sign Me Up!">
  </form>
  <br>
</center>
