<container>

  <h2><%= @survey.name %></h2>
<form name = "survey" action = "/user/<%=@user.id%>/survey/<%=@survey.id%>/save" method = "POST">

    <% @survey.questions.each do |question| %>
      <%= question %>
      <% question.answers.each do |answer| %>
        <input type="radio" name="answer" value= "#{answer}">answer<br>
      <% end %>
    <% end %>
    <input type = "submit" value = "Submit">

</form>
