<container>

	<h2> Survey: "<%= @survey.name %>"</h2>

	<% @survey.questions.each do |question| %>
		<ul>
			<li><%= question.content %></li>
			<ul>
			<% question.answers.each do |answer| %>
				<li><%= answer.content %> = <%= (QuestionAnswer.where(question_id: question.id).where( answer_id: answer.id)).count %></li>
			<%end%>
			</ul>
		</ul>
	<%end%>

	<form class="form-horizontal" action="/" method="get">
    <div class="control-group">
      <div class="controls">
        <input type="submit" class="btn btn-large btn-info" value="Go Home">
      </div>
    </div>
  </form>

</container>
